* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;

}
: :root {
    --background: #EDECE4;
    --background-border: #CBC6B9;
    --text-black: #2A2426;
    --background-footer: #2A2426;
    --text-color: #988C77;
    --background: #CBC6B9;

    --font-size-small: 18px;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    border: 10px solid var(--background-border)
}